@import url(https://fonts.googleapis.com/css?family=Montserrat);

.controlVersion{
    color: #880000;
    font-size: 12px !important;
    position: absolute;
    width: 100px;
}

body, html{
    height: 100%;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

a{
    cursor: pointer;
}

.center{
    text-align: center;
}

.btn-group-xs>.btn, .btn-xs{
    font-size: 13px;
}

/*.panel-body{
    overflow-wrap: break-word;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}*/

.container-fluid{
    /*padding-top: 64px;*/
    min-height: calc(100% - 134px);
}

.row{
    /*min-height: 100%;*/
}

.container > .row{
    width: 99.5%;
    margin-left: 15px;
}

/*
 * Global add-ons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    display: block;
    box-sizing: border-box;
    width: 220px;
    height: calc(100% + 65px);
    padding-top: 64px;
    overflow-x: hidden !important;
    overflow-y: auto;
    /*background-color: #edecec;*/
    background-color: #3d464d/*#4c4a49*/;
    top: -65px;
    z-index: 1031 !important;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
}

.dropdown-items{
    /*background: linear-gradient(to bottom right, #336699 0%, #53e3a6 100%);*/
    background-color: rgba(0, 0, 0, 0.2)/*#454241*/;

}

.dropdown-items li{
    padding: 5px;
}

.dropdown-items .active a{
    color: #336699;
    font-weight: bold;
}

.dropdown-items .active{
    border-left: 5px solid #336699;
    background-color: #fff;
}

.nav-sidebar li a:hover{
    text-decoration: none;
    color: #fff;
}

.dropdown.active, .activeSingle{
    background-color: #336699;
    color: #fff;
}

.nav-sidebar > li{
    padding-left: 20px;
}

.nav-sidebar  li  a {
    padding-right: 20px;
    padding-left: 20px;
    color: #fff;
}
.nav-sidebar>li>a:hover{
    background-color: #336699;

}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    /*background-color: #336699;*/
}

.caret-plus{
    margin-top: 7px;
    margin-right: -10px !important;
}


/*
 * Main content
 */

.main {
    position: absolute;
    height: calc(100% - 64px);
    /*margin-top: 64px;*/
    margin-left: 220px;
    box-sizing: border-box;
    width: calc(100% - 220px);
}

@media (max-width: 458px) {
    .panel-heading .btn.pull-right {
        display: none;
    }
}

.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*Modificaciones*/
.color-head{
    color: #f1f1f1;
}

.navbar-inverse .navbar-nav>li>a{
    color: #f1f1f1;
}

.container{
    margin: 0;
    width: 100%;
    padding: 15px 15px 0 15px;
    min-height: calc(100% - 70px);
}

.navbar-inverse{
    height: 64px;
    font-weight: 100;
    position: relative;
    background: #3d464d;
}

.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.modal-backdrop{
    background-color: rgba(255,255,255,.5);
}

.modal-content{
    box-shadow: none;
    border: 1px solid #336699;
}

.search-system{
    z-index: 99999;
    display: block;
    position: absolute;
    top: 80px;
    width: 850px;
    min-height: 500px;
    height: calc(100% - 300px);
    margin-left: calc(50% - 425px);

    background-color: rgba(255,255,255,1);
    border: 1px solid #ddd;
    border-radius: 10px;

    -webkit-box-shadow: 2px 10px 77px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 10px 77px -21px rgba(0,0,0,0.75);
    box-shadow: 2px 10px 77px -21px rgba(0,0,0,0.75);

    transition: all 1s ease;
}

#search-image-datos{
    border-radius: 100%;
    max-height: 120px;
    margin-top: 15px;
}

#search-nombre-datos{
    margin-top: 100px;
    font-size: 25px;
}

#contenedor-search-extra-data{

}

.contenedor-datos-search div span{
    padding-left: 7px;
    font-size: 15px;
    font-weight: bold;
}

.contenedor-datos-search-titulo{
    background-color: #f6f6f6;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 3px;
    font-size: 18px;
}

#search-bar{
    background-color: transparent;
    background-image: url('../images/search-icon-md.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    width: 100%;
    border: none;
    line-height: 35px;
    font-size: 35px;
    padding-left: 50px;
}

#search-bar:focus{
    border: none;
    outline: 0;
}

.separador-superior{
    padding: 20px 15px;
    border-bottom: 1px solid #ddd;
}

.separador-lateral{
    border-right: 1px solid #ddd;
    padding: 0px;
}

.separador-search{
    background-color: #f6f6f6;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px 15px;
}

.separador-item{
    box-sizing: border-box;
    height: 50px;
    line-height: 40px;
    cursor: pointer;
    padding: 5px 15px;
}

.separador-item:hover, .focus-item{
    background-color: #336699;
    color: #fff;
}

.separador-item img{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 90%;
    border-radius: 10px;
}

.separador-item span{
    margin-left: 20px;
}

.full-height{
    height: calc(100% - 79px);
}

.min-alto-search{
    min-height: 85px !important;
    height: 85px !important;
}


.container-fluid-header{
    display:  block;
    height: 100%;
}

.navbar{
    border: none;
    border-radius: 0;
    margin: 0;
}

.top-col{
    background-color: #fff;
    width: calc(100% - 220px);
}

.brand-col{
    background: #f5f5f5;
    width: 220px;
    padding-bottom: 15px;
}

.nav li, .navbar-brand{
    color: #000 !important;
}

.navbar-brand{
    font-size: 30px;
}

.header-col{
    height: 100%;
    padding: 7px 0;
}

#header-search {
    -webkit-appearance: none !important;
    color: #282323;
    outline: 0;
    height: 30px;
    width: 90%;
    padding: 7px 15px;
    font-size: 0.75em;
    font-weight: normal;
    vertical-align: top;
    background-color: #EDF1F2;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    border: none;
    transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
    margin: 13px 0 0 20px;
    position: relative;
}

.btn-search-header {
    position: relative;
    top: -30px;
    right: 15px;
    float: right;
    background: none;
}

.sidebar-toggle{
    position: relative;
    top: 12px;
    border: none;
    box-shadow: none;
    background: none;
    font-size: 25px;
    color: #fff;
}

.hour{
    padding-right: 20px;
    font-size: 40px;
}

.hour #meridiano {
    font-size: 15px;
    padding-top: 10px;
}

.navbar-right{
    margin-right: 0;
    height: 57px;
}

.navbar-right li{
    height: 100%;
}

.navbar-nav>li>.dropdown-menu{
    width: 100%;
}

.img-user-header{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: transparent;
}

.tab-actual-title{
    font-size: 25px;
    color: #2a2a2a;
    line-height: 24px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 7px 15px;
    padding-right: 0;
}

.sidebar li a img{
    margin-top: -2px;
    margin-right: 5px;
}

.img-nav{
    height: 20px;
}

li .dropdown-toggle-side{
    cursor: pointer;
}

li .dropdown-items{
    display:  none;
}

.multiselect-container label{
    display: block !important;
}

.ui-autocomplete{
    z-index:  999999 !important;
}

#central-col-top{
    width: calc(100% - 220px - 20%);
    margin-left: 220px;
}

#central-col-right{
   /* width: 20%;*/
}

@media (max-width: 994px) {
    #central-col-top{
        display: none !important;
    }
}

@media (max-width: 767px) {
    div.dataTables_filter input{
        display: none !important;
    }

    .sidebar{
        width: 0px;
    }

    .container > .row{
        margin-left: 0px;
    }

    .menu-toggle{
        margin-right: 20px;
    }

    .main{
        width: 100%;
        margin-left: 0px;
    }

    .menu-hidden-minimum{
        display: none;
    }

    .menu-icon-minimum{
        height: 25px !important;
    }
}

@media(min-width: 767px) and (max-width: 1000px){
    .sidebar{
        position: fixed;
        width: 65px;
    }

    .menu-hidden-minimum{
        display: none;
    }

    .menu-icon-minimum{
        height: 25px !important;
    }

    .sidebar:hover{
        width: 220px;
        z-index: 999;
    }

    .sidebar:hover .menu-hidden-minimum{
        display: inline-block !important;
    }

    .main{
        width: calc(100% - 65px);
        margin-left: 65px;
    }

    .brand-col{
        overflow: hidden;
    }
}

.minimal-menu{
    display: none;
}

.minimal-menu-sidebar{
    position: fixed;
    width: 65px;
}

.minimal-menu-main{
    width: calc(100% - 65px);
    margin-left: 65px;
}

.minimal-menu-sidebar:hover{
    width: 220px;
    z-index: 999;
}

li.menu-hidden-minimum.minimal-menu{
    width: 100%;
}

.minimal-menu-sidebar:hover .minimal-menu{
    display: inline-block !important;
}

#ui-datepicker-div{
    z-index: 999999 !important;
}

.topDiv-nav{
    /*padding: 15px;*/
    border-bottom: 1px solid #dce0e6;
    border-top: 1px solid #eee;
    background: #F6F8F8;
    position: relative;
    height: 65px;
}

.pepe:hover{
    color: #23527c !important;
}

.logo{
    float: left;
    position: relative;
    top: -15px;
    left: -10px;
}

.profile{
    width: 100%;
    height: 70px;
    padding: 5px 13px;
    /*background-color: #000000;
    background-position: center;
    background-size: cover;*/
    background-color: rgba(0, 0, 0, 0.2)/*#454241*/;
    overflow: hidden;
    margin: 15px 0;
    margin-top: 0px;
    border-bottom: 1px solid #666;
}

.panel{
    border-radius: 0;
}

.panel-heading{
    border-radius: 0;
    color: #fff !important;
    background-color: #336699 !important;
    font-size: 15px;
}

.img-user-side{
    height: 50px;
    width: 50px;
    float: left;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 2px solid #336699;
    margin-top: 5px;
}

.user-name-side{
    float: left;
    width: calc(100% - 70px);
    position: relative;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    color:  #fff;
    font-weight: 600;
    font-size: 13px;
    overflow: hidden;
}

.caret-name-side{
    margin-top: 8px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

#sub-menu-user{
    background-color: #fff;
    border-bottom: 1px solid #E6E6E6;
}

.menu-toggle{
    margin-top: 10px;
}

.btn-chat{
    margin-top: 11px;
    margin-right: 15px;
}

.menu-toggle a{
    color: #fff;
    font-size: 25px;
}

.readyHover{
    width: 0px;
}

.anchoSidebar{
    width: 220px;
    z-index: 1031 !important;
}

/*.readyHover:hover{
    width: 268px;
    z-index: 9999;
}*/

/*.readyHover:hover .menu-hidden-minimum{
    display: inline-block !important;
}*/

.readyHoverSepcial{
    z-index: 99999 !important;
}


/*.readyHoverMain{
    width: calc(100% - 65px);
    margin-left: 65px;
}*/

.alerta-agenda{
    margin-top: 0px !important;
}

.full-glyp-lang{
    margin-left: 10px;
    margin-top: -2px;
    font-size: 25px;
}

.menu-lang{
    padding: 0px;
    z-index: 9999;
}

.menu-lang .active{
    background-color: #336699;
}

.menu-lang li{
    margin: 0;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu>li>a{
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-items{
    list-style: none;
    padding: 0;
}

.dropdown-items > li{
    padding: 8px 15px;
    padding-left: 25px;
    border-left: 5px solid transparent;
}

.dropdown-items > li:hover{
    border-left: 5px solid #1d6fa5;
}

.dropdown-items > li:hover a{
    color: #1d6fa5;
}

.dropdown-items > li.active{
   /* border-left: 5px solid #880000;*/ /*#336699*/
}

.menu-lang li:hover, .menu-lang li:hover a{
    background-color: #336699 !important;
    color: #fff !important;
}


@keyframes goon{ 0% { width:0px; } 100% {width: 100%;}}

@keyframes goot{ 0% { height:0px; } 100% {height:100%}}

.contenedor-telefono{
    width: 300px;
    margin:auto;
    padding:2px;
}
.barra{
    width:70%;
    float:left;
    background-color:#F3F3F3;
    margin-top:10px;
    padding:4px;
    overflow:hidden;
    border-radius:4px;
}

.barra-wait{
    width:70%;
    float:left;
    background-color:#F3F3F3;
    margin-top:10px;
    padding:4px;
    overflow:hidden;
    border-radius:4px;
}

.barraok{
    width:70%;
    float:left;
    background-color:#F3F3F3;
    margin-top:10px;
    padding:4px;
    overflow:hidden;
    border-radius:4px;
}

.barraerror{
    width:70%;
    float:left;
    background-color:#F3F3F3;
    margin-top:10px;
    padding:4px;
    overflow:hidden;
    border-radius:4px;
}

.barra > div{
    background-color:#80D1F9;
    width:100%;
    border-radius:4px;
    padding:3px;
    animation:goon 5s linear ;
    color:#FFF;
}

.barraok > div{
    background-color:#0C3;
    width:100%;
    border-radius:4px;
    font-family:Verdana, Geneva, sans-serif;
    padding:3px;
    color:#FFF;
}

.barraerror > div{
    background-color:#F03;
    width:100%;
    border-radius:4px;
    font-family:Verdana, Geneva, sans-serif;
    padding:3px;
    color:#FFF;
}

.icono img{
    cursor: pointer;
    float:right;
    position:absolute;
    width:50px;
    overflow:hidden;
    z-index:2;
}

.iconotik img{
    float:right;
    border-radius:100%;
    border-color:#FFF;
    background-color:#0C3;
    position:absolute;
    width:50px;
    overflow:hidden;
}

.iconocross img{
    float:right;
    border-radius:100%;
    background-color:#F03;
    position:absolute;
    width:50px;
    overflow:hidden;
    z-index:2;
}

.icono{
    border-radius:100%;
    float:left;
    background-color:#F3F3F3;
    margin-left:-10px;
    overflow:hidden;
    width:50px;
    height:50px;
}

.iconotik{
    border-radius:100%;
    float:left;
    background-color:#F3F3F3;
    margin-left:-10px;
    overflow:hidden;
    width:50px;
    height:50px;
}
.iconocross{
    border-radius:100%;
    float:left;
    background-color:#F3F3F3;
    margin-left:-10px;
    overflow:hidden;
    width:50px;
    height:50px;
}

.load{
    height:100%;
    width:100%;
    background-color:#80D1F9;
    display:block;
    z-index:1;
    animation:goot 5s linear ;
}

.load-wait{
    cursor: pointer;
    height:100%;
    width:100%;
    display:block;
    z-index:1;
}

#marker-location{
    position: relative;
    top: -240px;
    left: 47%;
}

.comentario-cli{
    margin-bottom: 15px;
}

.comentario-cliente{
    min-height: 100%;
}

.coment-head{
    padding: 5px;
    color: #777;
    background-color: #ccc;
}

.coment-title{
    font-weight: bold;
}

.btn-borrar-special{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.breadcrumb{
    padding-top: 10px;
    margin-bottom: 0;
}

.breadcrumb>li+li:before{
    font-size: 25px;
}

.breadcrumb>li:first-child a{
    padding-left: 15px;
}

.breadcrumb>li a{
    padding: 0;
}

.ui-widget-content{
    padding-top: 5px !important;
    background: #fff !important;

    -webkit-box-shadow: 6px 14px 52px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 14px 52px -11px rgba(0,0,0,0.75);
    box-shadow: 6px 14px 52px -11px rgba(0,0,0,0.75);
}

.ui-widget-content li{
    border: none !important;
}

.ui-state-focus{
    z-index: 9999;
    border: none !important;
    padding: 4px 5px !important;
    background: #336699 !important;
    color: #fff !important;
}

.specialLi{
    border: 0px solid #fff !important;
}

.ui-autocomplete-category {
    position: relative;
}

.ui-autocomplete-category:before {
    content: "";
    display: block;
    border-top: solid 1px #999;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.ui-autocomplete-category span {
    background-color: #fff;
    padding: 0 20px;
    position: relative;
    top: -10px;
    margin-right: 15px;
    z-index: 5;
    color: #999;
    font-size: 13.5px;
    float: right;
}

#header-search{
    -webkit-transition: all 1s;
    transition: all 1s;
    background-color: #fff;
    border: 1px solid #eee;
}

#header-search:focus{
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(0,0,0,.07);
}

.menu-toggle{
    margin-left: 7px;
    margin-top: 6px;
}

.alert li{
    list-style: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
    /*Quitar botones para movil*/
    /*.panel-heading .btn, .dataTables_info, .dataTables_filter, .dataTables_length, a.editar, a.borrar, a.editarRol, a.borrarRol, a.ver, a.detalles, a.finalizar, a.vermas, a.verdetalles{
        display:  none;
    }*/

    .size-actual-3{
        font-size: 15px;
        padding: 8px 0 0 0;
        font-weight: bold;
    }

    .size-actual-2{
        font-size: 18px;
        padding: 6px 0 0 0;
        font-weight: bold;
    }

    .size-actual-1{
        font-size: 35px;
        padding: 6px 0 0 0;
        font-weight: bold;
    }

    .form-group{
        position: relative !important;
        margin-top: 15px;
        bottom: 0 !important;
    }
}

.modal-header{
    background-color: #336699;
    color: #fff;
}

td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#btnplantilla1{
    font-size: 15px;
    color: #000000;
    background-color: #449d44;
    border-color: #398439;
    padding: 6px 12px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}
#btnplantilla2{
    font-size: 15px;
    color: #000000;
    background-color: #449d44;
    border-color: #398439;
    padding: 6px 12px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}
.lessSpace{
    padding-left: 0px !important;
}

/*Ajustes switch*/
.register-switch {
    width: 200px;
    height: 34px;
    padding: 4px;
    padding-bottom: 0px;
    background: #6db244;
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-image: -webkit-linear-gradient(top, #60a83a, #7dbe52);
    background-image: -moz-linear-gradient(top, #60a83a, #7dbe52);
    background-image: -o-linear-gradient(top, #60a83a, #7dbe52);
    background-image: linear-gradient(to bottom, #60a83a, #7dbe52);
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}

.register-switch-input {
    display: none;
}

.register-switch-label {
    float: left;
    width: 50%;
    line-height: 25px;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.register-switch-input:checked + .register-switch-label {
    font-weight: 500;
    color: #434248;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: white;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
    background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
    background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
    background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.fc-event {
    position: relative;
    cursor: pointer;
    padding: 8px;
    margin: 10px;
    color: #777;
    font-size: 12px;
    background: #f9f9f9;
    border-radius: 2px;
    border: 1px solid #ddd;
    border-left: 4px solid #4a89dc !important;
}

.fc-event-system .fc-event-icon {
    color: #37bc9b;
    float: left;
    margin-right: 5px;
}

.fc-event-pasado{
    border-left-color: #37bc9b !important;
}

.fc-event-presente{
    border-left-color: #70ca63 !important;
}

.fc-event-futuro{
    border-left-color: #967adc !important;
}

.nav{
    font-family: 'Montserrat', sans-serif;
}

.nav .fa{
    color: rgba(255, 255, 255, 0.6);
    font-size: 19px;
    padding-right: 15px;
}

.nav span{
    color: rgba(255, 255, 255, 0.6);
}

.activeSingle .fa, .active .fa{
    color: #fff;
}

.activeSingle span, .active span{
    color: #fff;
}

#quickTask{
    display: block;
    position: absolute;
    background-color: #FBFBFD;
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.2);
    top: 64px;
    right: 0px;
    height: 100%;
    width: 300px;
    z-index: 1040;
}

.nav-tabs{
    background-color: #3d464d;
}

.nav-tabs li a{
    color: #fff;
}

.nav-tabs>li>a{
    padding: 15px 15px;
    border: none !important;
    border-radius: 0px !important;
}

.list-w-title{
    list-style: none;
    padding: 0;
}

.list-w-title a {
    display: block;
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #E5E5E5;
    color: #7A8189;
    text-decoration: none;
}

.sidepanel-m-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #37363e;
    padding: 16px 0;
    position: relative;
}

.gn-title {
    background: #E4E4E4;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 4px 0 4px 20px;
}

.nav-tabs>li>a{
    margin: 0;
}

.numpad{
    z-index: 9999;
}

.numpad div{
    margin-bottom: 15px;
}

.classExtraTab{
    color: #336699;
}

td ul li{
    text-align: left;
}


.quick-dash-info{
    box-sizing: border-box;
    padding: 20px 35px;
    margin: -15px;
    margin-left: -30px;
    margin-bottom: 25px;
    width: calc(100% + 35px);
    background-color: #EEEEEE;
}

.quick-dash-info-item{
    padding-left: 20px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.quick-dash-info-number{
    font-size: 30px;
    /*font-weight: bold;*/
}

.quick-dash-info-label{
    font-size: 18px;
    font-weight: bold;
    color: rgba(0,0,0,.3);
}

/*Correo*/
.space-25 {
    margin: 25px 0;
}

.file-manager h5 {
    text-transform: uppercase;
}

.ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4, .ibox-content h5, .ibox-title h1, .ibox-title h2, .ibox-title h3, .ibox-title h4, .ibox-title h5 {
    margin-top: 5px;
}

.file-manager h5 {
    margin-top: 5px;
    font-weight: 600;
}

.m-b-md {
    margin-bottom: 20px !important;
}

.file-manager ul{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.folder-list li {
    border-bottom: 1px solid #e7eaec;
    display: block;
}

.folder-list li a {
    color: #666666;
    display: block;
    padding: 5px 0;
}

.category-list li a {
    color: #666666;
    display: block;
    padding: 5px 0;
}

.category-list li a .text-navy {
    color: #1ab394;
}

.category-list li a .text-danger {
    color: #EF5352;
}

.category-list li a .text-primary {
    color: #1c84c6;
}

.category-list li a .text-info {
    color: #23c6c8;
}

.category-list li a .text-warning {
    color: #F8AC59;
}

.category-list li i {
    margin-right: 8px;
    color: #3d4d5d;
}

.file-manager h5.tag-title {
    margin-top: 20px;
}

.tag-list li {
    float: left;
}

.mailbox-content .tag-list li a {
    background: #ffffff;
}

.tag-list li a {
    font-size: 10px;
    background-color: #f3f3f4;
    padding: 5px 12px;
    color: inherit;
    border-radius: 2px;
    border: 1px solid #e7eaec;
    margin-right: 5px;
    margin-top: 5px;
    display: block;
}

.mail-box-header {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    border-bottom: 0;
    padding: 30px 20px 20px 20px;
}

.mail-search {
    max-width: 300px;
}

.mail-box-header h2 {
    margin-top: 0px;
    font-size: 24px;
    font-weight: 100;
}

.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

.m-t-md {
    margin-top: 20px;
}

.mail-box {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    border-top: 0;
    padding: 0px;
    margin-bottom: 20px;
}

.table-mail .check-mail {
    padding-left: 20px;
    width: 54px;
}

table.table-mail tr td {
    padding: 12px;
}

.mail-date{
    width: 200px;
}

.icheckbox_square-green {
    background-position: 0 0;
}

.icheckbox_square-green, .iradio_square-green {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(http://webapplayers.com/inspinia_admin-v2.3/css/plugins/iCheck/green.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-green:hover {
    background-position: -24px 0;
}

.icheckbox_square-green.checked {
    background-position: -48px 0;
}

tr.unread{
    background-color: #e7eaec;
}

.noASub a{
    text-decoration: none;
}

.mail-box-header {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    border-bottom: 0;
    padding: 30px 20px 20px 20px;
}

.mail-box-header h2 {
    margin-top: 0px;
}

.mail-box-header h3{
    font-size: 18px;
}

.mail-box-header h5{
    font-size: 12px;
}

.mail-box {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    border-top: 0;
    padding: 0px;
    margin-bottom: 20px;
}

.mail-body {
    border-top: 1px solid #e7eaec;
    padding: 20px;
}

.mail-attachment {
    border-top: 1px solid #e7eaec;
    padding: 20px;
    font-size: 12px;
}

.file-box {
    float: left;
    width: 220px;
}

.file {
    border: 1px solid #e7eaec;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
}

.corner {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 0.6em solid transparent;
    border-right: 0.6em solid #f1f1f1;
    border-bottom: 0.6em solid #f1f1f1;
    right: 0em;
    bottom: 0em;
}

.file .icon {
    padding: 15px 10px;
    text-align: center;
}

.file .icon, .file .image {
    height: 100px;
    overflow: hidden;
}

.file .icon i {
    font-size: 70px;
    color: #dadada;
}

.file .file-name {
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7eaec;
}

.file-name small {
    color: #676a6c;
    font-size: 85%;
}

.comentario-journey{
    padding: 0;
    margin-bottom: 15px;
    border: 1px solid rgba(0,0,0,.3);
}

.comentario-journey-head{
    width: 100%;
    /*background-color: #336699;*/
    color: #ffffff;
    padding: 5px 25px;
    font-size: 15px;
}

.comentario-journey-body{
    padding: 5px 25px;
}

.header-calendario-booking{
    padding: 7px 0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.col-calendario-booking{}

.row-calendario-booking{
    padding: 7px 0;
    border-bottom: 1px solid #ddd;
}

.extra-text-cell{
    line-height: 15px !important;
    box-sizing: border-box;
}

.extra-text-cell p{
    margin: 1px 0;
    padding: 0;
    box-sizing: border-box;
}

.header-color a{
    color: #fff;
}