@import url(https://fonts.googleapis.com/css?family=Montserrat);

body, html{
    height: 100%;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

a{
    cursor: pointer;
}

.panel-rounded{
    border-radius: 10px !important;
}

.divTableSize{
    text-align: center;
    width: 12.5%;
    float: left;
}

.tableInnerDivTop{
    padding: 5px;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right:  1px solid #ddd;
    font-weight: bold;
}

.tableInnerDivHoras{
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-right:  1px solid #ddd;
}

.tableInnerDiv-1{
    height: 50px;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-right:  1px solid #ddd;
}

.tableInnerDiv-1:last-child, .tableInnerDiv-2:last-child, .tableInnerDivHoras:last-child, .tableInnerDiv-3:last-child{
    border-bottom: 1px solid #ddd;
}

.tableInnerDiv-2{
    height: 100px;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-right:  1px solid #ddd;
}

.tableInnerDiv-3{
    height: 150px;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-right:  1px solid #ddd;
}

.tableInnerDiv-4{
    height: 200px;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-right:  1px solid #ddd;
}

.tableInnerDiv-5{
    height: 250px;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-right:  1px solid #ddd;
}

.table-center-text td, .table-center-text th{
    text-align: center;
}

.centerText td, .centerText th{
    text-align: center;
    vertical-align: middle !important;
    border-right: 1px solid #ddd;
}

.centerText{
    border: 1px solid #ddd;
}

.top-union{
    border-top: none !important;
}

.tsWeeklyIcon{
    display: inline-block;
    height: 25px;
    width: 25px;
    background: #fff url(http://andorraquestroom.com/calendario/app/img/frontend/ts-w-available.png) 0 0 no-repeat;
    background-size: contain;
}

.tsWeeklyIconOcupado{
    display: inline-block;
    height: 25px;
    width: 25px;
    background: #fff url(http://andorraquestroom.com/calendario/app/img/frontend/ts-w-booked.png) 0 0 no-repeat;
    background-size: contain;
}

.tsWeeklyIconActual{
    display: inline-block;
    height: 25px;
    width: 25px;
    background: #fff url(http://andorraquestroom.com/calendario/app/img/frontend/ts-w-selected.png) 0 0 no-repeat;
    background-size: contain;
}

.ui-datepicker-year{
    color: #000;
}