.container{
    background-color: #eee;
}

.container > .row{
    margin-left: -5px;
}


.quick-dash-info{
    box-sizing: border-box;
    padding: 20px 35px;
    margin: -15px;
    padding-right: 0;
    margin-bottom: 15px;
    width: calc(100% + 40px);
    background-color: #fff
}

.box-dash{
    background-color: #fff;
    padding: 0;
    margin: 10px 5px;

    float: none;
    display: inline-block;
    vertical-align:top;
}

.highlight-drop{
    display: inline-block;
    background-color: transparent;
    border: 1px dashed #000;
    height: 91px;
    margin-right: 15px;
    margin-left: 15px;
    box-sizing: border-box;
}


@media(min-width: 768px){
    .box-dash.col-md-6{
        width: calc(50% - 15px);
    }
}
@media(max-width: 768px) {
    .quick-dash-info {
        margin-left: -30px;
        width: calc(100% + 50px);
    }

    .tabla-dash-agenda th{
        padding: 0 !important;
    }
}


.box-dash-title {
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid;
    border-width: 3px 0 1px 0;
    margin-bottom: 15px;
    padding: 14px 15px 14px 14px;
    min-height: 48px;

    color: #666;
    font-size: 17px;
    font-weight: bold;
    text-overflow: ellipsis;
}
.tabla-dash-agenda{
    width: 100%;
}

.tabla-dash-agenda th{
    padding: 10px;
    text-transform: uppercase;
    color: #848484;
    text-align: center;
}
.tabla-dash-agenda tr td{
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

.tabla-dash-agenda tr td:first-child{
    color: #848484;
    border-right: 1px solid #848484;
    cursor: default !important;
}

.tabla-dash-agenda .thisWeek{
    /*background-color: #4d4d4d;*/
}

/*.tabla-dash-agenda .thisWeek td:first-child{
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}
.tabla-dash-agenda .thisWeek td:last-child{
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}*/

.tabla-dash-agenda .thisWeek td:first-child{
    color: #1a97fc;
}

.tabla-dash-agenda .thisDay{
    background-color: rgba(25,151,252, .5);
    color: #fff !important;
    border-radius: 5px;
}

.tabla-dash-agenda tr td:not(:first-child):hover{
    color: #1a97fc;
}

.tabla-dash-agenda  tr td.eventosThisDay{
    color: #f0403c !important;
    font-weight: bold;
}

#date-agenda-dia{
    padding: 5px 0;
}

.specialFont{
    /*font-family: 'Montserrat', sans-serif;*/
}

.mini-titulo{
    font-size: 25px;
    padding: 15px;
}

.max-number{
    font-size: 35px;
}

.mini-titulo .glyphicon{
    font-size: 40px;
}

.mini-body{
    display: none;
}

.trigger-min:hover .mini-body{
    display: block !important;
}

.trigger-min:hover .max-number{
    display: none;
}

.mini-body ul{
    list-style: none;
    padding-left: 0;
}

.mini-body  .label{
    font-size: 24px;
    float: none;
    display: block;
    text-align: left;
    font-weight: 100;
}

.list-w-title{
    margin-bottom: 0;
}

.close-link{
    color: #666;
}