/*Inputs del login*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

body{
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
.container {
    height: 150px !important;
    min-height: auto;
    width: 500px !important;
    max-width: 90% !important;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 10px;
    text-align: center;

    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    z-index: 9;

    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

@media (max-width : 500px){
    .container {
        top: 0;
        left: 0;
        transform: translate(0);
        -webkit-transform: translate(0);
        margin-left: 5% !important;
        margin-top: 25% !important;
    }
}

.container h1 {
    font-size: 40px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-put;
    transition-timing-function: ease-in-put;
    font-weight: 200;
}
