.centralCal{
    width: calc(100% - 263px);
}
@media (max-width: 991px) {
    .centralCal{
        width: 100%;
    }
}
.side-cal{
    position: absolute;
    height: 100%;
    border-left: 1px solid #DDD;
    background: #f5f5f5;
    top: 65px;
    right: 0px;
    overflow: hidden;
    z-index: 1031;
    width: 263px;
}

.fc-title-clone {
    font-size: 20px;
    text-align: center;
    margin: 8px 0 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E7E7E7;
    text-transform: capitalize;
    padding-top: 15px;
}

.fc-center{
    text-transform: capitalize;
}

.admin-form {
    line-height: 1.231;
    font-weight: 400;
    font-size: 14px;
    color: #626262;
}

.ui-widget-content{
    box-shadow: none;
}

.ui-datepicker {
    background: none;
    margin: 0;
    border: 0;
    background-color: transparent !important;
}

.ui-datepicker-header {
    display: none;
}

.ui-datepicker div div {
    font-size: .9em;
    border-collapse: collapse;
    background-color: transparent;
}

.ui-datepicker div div{
    padding: 8px 5px;
}

.ui-datepicker div div a {
    border: 1px solid #eee !important;
    background: #DDD;
    padding: .50em .20em;
}

.ui-datepicker div div a {
    color: #AAA;
    padding: .35em .25em;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}

.ui-datepicker .ui-state-highlight {
    background: #9fc1ed !important;
}

.ui-datepicker .ui-state-active {
    background: #4a89dc !important;
    color: #fff;
}