/*Inputs del login*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

body{
    background: #336699;
    background: -webkit-linear-gradient(top left, #00b3ee 0%, #336699 100%);
    background: linear-gradient(to bottom right, #00b3ee 0%, #336699 100%);
    background: -o-linear-gradient(to bottom right, #00b3ee 0%, #336699 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom right,#00b3ee 0%, #336699 100%); /* For Firefox 3.6 to 15 */
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}
body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}
body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

form {
    /*padding: 20px 0;*/
    position: relative;
    z-index: 2;
}

form div{
    margin-top: 10px;
}

form input:not([type="submit"]){
    text-align: center;
    font-size: 20px !important;
}

form input[type="submit"]{
    box-sizing: border-box;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #000;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: bold;
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}

.forget-pwd{
    color:#ffffff;
    font-size: 20px;
}
.forget-pwd:hover{
    color:wheat;
    font-size: 20px;
    text-decoration: none;
}
form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
    background-color: white;
    color: #000;
}
form button {
    box-sizing: border-box;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 5px 15px;
    color: #000;
    border-radius: 3px;
    width: 50%;
    cursor: pointer;
    font-size: 18px;
    font-weight:  bold;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}
form button:hover {
    background-color: #f5f7f9;
}

.container {
    width: 500px !important;
    max-width: 90% !important;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 10px;
    text-align: center;

    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    z-index: 9;

    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;

    min-height: auto !important;
}

#logo-img{
    position: absolute;
    margin-top: -100px;
    margin-left: 36%;
    padding: 10px;
    width: 120px;
    border: 5px solid #109bd4;
    background-color: #109bd4;
    border-radius: 100%;
}

#logo-img img{
    max-width: 100%;
    max-height: 100%;

    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

.remember-me{
    font-size: 20px;
}

@media (max-width : 500px){
    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1); /* IE */
        -moz-transform: scale(1); /* FF */
        -webkit-transform: scale(1); /* Safari and Chrome */
        -o-transform: scale(1); /* Opera */
        padding: 10px;
        margin-right: -20px;
    }

    .container {
        top: 0;
        left: 0;
        transform: translate(0);
        -webkit-transform: translate(0);
        margin-left: 5% !important;
        margin-top: 25% !important;
    }

    #logo-img{
        margin-left: 28%;
    }
}

.container h1 {
    font-size: 40px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-put;
    transition-timing-function: ease-in-put;
    font-weight: 200;
}

/*Burbujas*/
.bg-bubbles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
    left: 10%;
}
.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
    left: 70%;
}
.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}
@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}
@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}


.container{
    height: auto;
}

.alert ul li{
    text-transform: capitalize;
}