.modal-open .modal{
    overflow:  hidden !important;
}

.modal-dialog{
    width: 100% !important;
}

.modal-body{
    overflow:  auto;
}

/*Datatables*/
.dataTables_info{
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}