.box{
    padding: 5px;
}

.nombre-cliente{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-surround ul{
    list-style: none;
    /*margin-left: 100px;*/
}

.profile-surround ul li i{
    color: #666;
    font-size: 20px;
    margin-right: 10px;
    float: left;
}

.profile-surround ul li{
    font-size: 15px;
    border-bottom: 1px solid #cccccc;
    padding: 5px 0px;
}

.profile-surround ul li:first-child{
    border-top: 1px solid #cccccc;
}

.profile-surround ul li > span{
    color: #666;
    float: left;
    width: 40%;
}

.profile-surround ul li #text{
    float: left;
    color: #4285F4;
}