.selected-image-segmentacion .img{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.selected-image-segmentacion .ok-image, .selected-image-segmentacion .del-image{
    opacity: 0 !important;
    width: 0;
}

.selected-image-segmentacion .cross-image{
    opacity: 1 !important;
}

.segmentacion-inner{
    /*position: absolute;*/
    float: left;
    opacity: 0;
    border-radius: 100%;
    margin-top: 27%;
    color: #843534;
    z-index: 99;
    padding: 6px;
    background-color: #000;
    cursor: pointer;
    margin-left: 5%;
    height: 40%;
    width: 40%;
}

.segmentacion-inner:hover{
    background-color: #017ebc;
    color: #fff;
}

.iconos-selectables{
    position: relative;
    float:left;
    margin: 5px;
    overflow: hidden;
    height: 70px;
    width: 70px;
    border-radius: 15px;
    border: 1px solid #000;
}

.iconos-selectables .img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.iconos-selectables:hover .img{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.iconos-selectables:hover .segmentacion-inner{
    opacity: 1;
}

.iconos-selectables:hover .cross-image{
    opacity: 0;
}